{% extends 'PredictionApp/layouts/main.html' %}
{% load static %}
{% block title %}
my login
{% endblock title %}

{% block content %}



<section>
    <div class="container mt-3">
        <div class="row justify-content-center">
            
            <div class="col-md-8">
                <div class="card" style="background-color: rgba(97, 172, 151, 1); border: none; border-radius: 5px; box-shadow: inset 0 0 15px rgb(255, 255, 255); padding: 1rem; color:white; margin-bottom: 4rem">
                    <div class="card-body">
                        <h1>Login here!</h1>
                        <form method="post" enctype="multipart/form-data" autocomplete="off">
                            {% csrf_token %}   {{loginform.as_p}}
                            <button type="submit" class="btn btn-success">Add note</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}